@import 'modules/header'
@import 'modules/inputs'
@import 'modules/buttons'
@import 'variables/mixins'
@import 'variables/breakpoints'
@import 'globals'
@import 'vendors/c3'


#content
    display grid
    grid-template-columns auto 400px

    grid-template-areas "data tank" "data recipe"
    width 100vw

    +less-than(tablet)
        align-items flex-start

    +less-than(mobile)
        grid-template-columns 98vw
        grid-template-areas "tank" "recipe"

#data
    +less-than(mobile)
        display none
    grid-area data
    #charts
        display grid
        grid-template-columns repeat(2, 30vw)
        +less-than(tablet)
            grid-template-columns 30vw
    h2
        text-align center


#recipe, #tank
    text-align center
    table
        text-align left
        margin auto
    h2, h3, h4
        text-align center

#tank
    grid-area tank

#recipe
    grid-area recipe
