@import '../variables/colors'

button
    background Teal
    color white
    padding 10px 30px
    font-size 1em
    border none
    box-shadow Shadow
    border-radius 15px
    font-weight 100
    min-width 200px
    max-width 300px
    margin 10px
