small = 320px;
mobile = 480px;
tablet = 768px;
laptop = 1024px;
desktop = 1280px;

less-than(size) {
   @media screen and (max-width: size) {@content;}
}

greater-than(size) {
   @media screen and (min-width: size) {@content;}
}

between(size1, size2) {
   @media screen and (min-width: size1) and (max-width: size2) {@content;}
}
