<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
    <link rel="stylesheet" href="admin.css">
</head>
<body>
    <div id="app">
        <div class="header">
            <a href="index.html">logout</a>
            <h2>Ninkasi Admin</h2>
        </div>
        <div id="content">
            <div id="misc">
                <h2>Create New Fields</h2>
                <input type="text" placeholder="Tank Number">
                <input type="text" placeholder="Action Needed">
                <button>Submit</button>
            </div>
            <div id="user">
                <h2>Create New User</h2>
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Password">
                <button>Submit</button>
            </div>
            <div id="brand">
                <h2>Create New Brand</h2>
                <input type="text" placeholder="Brand ID">
                <input type="text" placeholder="Yeast">
                <div class="inline">
                    <input type="text" placeholder="Dry Hop/Adjunct">
                    <input type="text" placeholder="Rate">
                </div>
                <div class="inline">
                    <input type="text" placeholder="Dry Hop/Adjunct">
                    <input type="text" placeholder="Rate">
                </div>
                <div class="inline">
                    <input type="text" placeholder="Dry Hop/Adjunct">
                    <input type="text" placeholder="Rate">
                </div>
                <div class="inline">
                    <input type="text" placeholder="Dry Hop/Adjunct">
                    <input type="text" placeholder="Rate">
                </div>
                <div class="inline">
                    <input type="text" placeholder="Dry Hop/Adjunct">
                    <input type="text" placeholder="Rate">
                </div>
                <div class="inline">
                    <input type="text" placeholder="Dry Hop/Adjunct">
                    <input type="text" placeholder="Rate">
                </div>
                <div class="inline">
                    <input type="text" placeholder="Dry Hop/Adjunct">
                    <input type="text" placeholder="Rate">
                </div>
                <div class="inline">
                    <input type="text" placeholder="Dry Hop/Adjunct">
                    <input type="text" placeholder="Rate">
                </div>
                <button>Submit</button>
            </div>
        </div>
    </div>
</body>
</html>
