<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tank Data</title>
    <link rel="stylesheet" href="data.css">
</head>
<body>
    <div id="app">
        <div class="header">
            <a href="home.html">Home</a>
            <h2>Tank Data</h2>
        </div>
        <div id="content">
            <div id="data">
                <h2>Brand History</h2>
                <div id="charts">
                    <div id="tempChart"></div>
                    <div id="abvChart"></div>
                    <div id="sgChart"></div>
                    <div id="phChart"></div>
                </div>
            </div>
            <div id="tank">
                <h2>Tank ID</h2>
                <h3>8439-4389</h3>
                <table>
                    <tr>
                        <td>Status</td>
                        <td>OK</td>
                    </tr>
                    <tr>
                        <td>Brand ID</td>
                        <td>Pacific Rain</td>
                    </tr>
                    <tr>
                        <td>Batch Number</td>
                        <td>3289-2389</td>
                    </tr>
                    <tr>
                        <td>Generation</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Volume</td>
                        <td>182.3</td>
                    </tr>
                    <tr>
                        <td>Temperature</td>
                        <td>70º F</td>
                    </tr>
                    <tr>
                        <td>Specific Gravity</td>
                        <td>3.4</td>
                    </tr>
                    <tr>
                        <td>pH</td>
                        <td>4.4</td>
                    </tr>
                    <tr>
                        <td>ABV</td>
                        <td>8%</td>
                    </tr>
                    <tr>
                        <td>Time Last Updated</td>
                        <td>2017-18-02 14:24</td>
                    </tr>
                </table>
                <button>I'm On It</button>
                <a href="home.html"><button>Add Data</button></a>
            </div>
            <div id="recipe">
                <h2>Pacific Rain Recipe</h2>
                <table>
                    <tr>
                        <td>Hop 1</td>
                        <td>13.23</td>
                    </tr>
                    <tr>
                        <td>Hop 2</td>
                        <td>13.23</td>
                    </tr>
                    <tr>
                        <td>Hop 3</td>
                        <td>13.23</td>
                    </tr>
                    <tr>
                        <td>Hop 4</td>
                        <td>13.23</td>
                    </tr>
                    <tr>
                        <td>Hop 5</td>
                        <td>13.23</td>
                    </tr>
                    <tr>
                        <td>Hop 6</td>
                        <td>13.23</td>
                    </tr>
                    <tr>
                        <td>Hop 7</td>
                        <td>13.23</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="d3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="c3.min.js"></script>
<script type="text/javascript" src="data.js"></script>
</html>
