<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div id="app">
        <div class="header">
            <a href="index.html">Logout</a>
            <h2>Home</h2>
        </div>
        <div id="content">
            <div id="dataEntry">
                <h2>Data Entry</h2>
                <input type="text" placeholder="Tank Number">
                <input type="text" placeholder="Tank Status">
                <input type="text" placeholder="Specific Gravity">
                <div class="inline">
                    <input type="text" placeholder="pH">
                    <input type="text" placeholder="ABV">
                    <input type="text" placeholder="Temp">
                </div>
                <input type="text" placeholder="Volume">
                <input type="text" placeholder="Generation">
                <input type="datetime-local" placeholder="Time Measured">
                <input type="text" placeholder="Brand ID">
                <input type="text" placeholder="Batch Number">
                <input type="text" placeholder="Action Needed">
                <button>Submit</button>
            </div>
            <div id="tankInfo">

            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    //get the specified number of numbers
    function randomNumber(number) {
        number = Math.pow(10, number);
        return Math.floor(Math.random() * number).toString()
    }

    function idNumber(firstNumber, secondNumber) {
        return randomNumber(firstNumber) + "-" + randomNumber(secondNumber)
    }

    // round to a certain precision
    function precisionRound(number, precision) {
      var factor = Math.pow(10, precision);
      return Math.round(number * factor) / factor;
    }

    function pressure() {
        return (precisionRound(Math.random() * 100 + 80, 1)).toString()
    }

    function temperature() {
        return (Math.floor(Math.random() * 10 + 50)).toString()
    }

    function status() {
        var statusVal = ["cap", "crash", "cool"]
        if (Math.floor(Math.random() * 10) > 6) {
            return statusVal[Math.floor(Math.random()*statusVal.length)]
        } else {
            return "ok"
        }
    }

    function brand() {
        var brandVal = ['Prismatic', 'Yours Truly', 'Pacific Rain', 'Total Domination', 'Tricerahops', 'Dawn of the Red', 'Hop Cooler', 'Helles Belles', 'Vanilla Oatis']
        return brandVal[Math.floor(Math.random()*brandVal.length)]
    }

    var tankStatus = ""

    //where the content will be injected
    var generatedContent = "<h2>Tank Info</h2>";

    generatedContent += '<div id="tankContents">'
    //where the squares get built
    for (var i = 0; i < 100; i++) {
        tankStatus = status()

        generatedContent += '<a href="">'
        generatedContent += '<table class="tank ' + tankStatus + '">'

            generatedContent += "<tr>"
                //tank number
                generatedContent += "<td>" + idNumber(5,3) + "</td>"
                //pressure
                generatedContent += "<td>" + pressure() + "</td>"
            generatedContent += "</tr>"

            generatedContent += "<tr>"
                //beer id
                generatedContent += "<td>" + brand() + "</td>"
                //temperature
                generatedContent += "<td>" + temperature() + "</td>"
            generatedContent += "</tr>"

            generatedContent += "<tr>"
                //batch number
                generatedContent += "<td>" + idNumber(5,3) + "</td>"
            generatedContent += "</tr>"

            generatedContent += "<tr>"
                //status
                generatedContent += "<td>" + tankStatus + "</td>"
            generatedContent += "</tr>"

        generatedContent += "</table>"
        generatedContent += '</a>'
    }
    generatedContent += '</div>'

    document.getElementById('tankInfo').innerHTML = generatedContent;
</script>
</html>
