<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div id="app">
        <div class="header">
            <a href="index.html">Logout</a>
            <h2>Home</h2>
        </div>
        <div id="content">
            <div id="dataEntry">
                <h2>Data Entry</h2>
                <input type="text" placeholder="Tank Number">
                <input type="text" placeholder="Tank Status">
                <input type="text" placeholder="Specific Gravity">
                <div class="inline">
                    <input type="text" placeholder="pH">
                    <input type="text" placeholder="ABV">
                    <input type="text" placeholder="Temp">
                </div>
                <input type="text" placeholder="Volume">
                <input type="text" placeholder="Generation">
                <input type="datetime-local" placeholder="Time Measured">
                <input type="text" placeholder="Brand ID">
                <input type="text" placeholder="Batch Number">
                <input type="text" placeholder="Action Needed">
                <button>Submit</button>
            </div>
            <div id="tankInfo">

            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    //get the specified number of numbers
    function randomNumber(number) {
        number = Math.pow(10, number);
        return Math.floor(Math.random() * number).toString()
    }

    function idNumber(firstNumber, secondNumber) {
        return randomNumber(firstNumber) + "-" + randomNumber(secondNumber)
    }

    // round to a certain precision
    function precisionRound(number, precision) {
      var factor = Math.pow(10, precision);
      return Math.round(number * factor) / factor;
    }

    function pressure() {
        return (precisionRound(Math.random() * 100 + 80, 1)).toString()
    }

    function temperature() {
        return (Math.floor(Math.random() * 10 + 50)).toString()
    }

    //where the content will be injected
    var generatedContent = "";

    //where the squares get built
    for (var i = 0; i < 50; i++) {
        generatedContent += '<div class="tank">'
            //tank number
            generatedContent += "<span>" + idNumber(5,3) + "</span>"
            //beer id
            generatedContent += "<span>" + idNumber(4,2) + "</span>"
            //batch number
            generatedContent += "<span>" + idNumber(5,3) + "</span>"
            //status
            generatedContent += "<span>OK</span>"
            //pressure
            generatedContent += "<span>" + pressure() + "</span>"
            //temperature
            generatedContent += "<span>" + temperature() + "</span>"
        generatedContent += "</div>"
    }

    document.getElementById('tankInfo').innerHTML = generatedContent;
</script>
</html>
