<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div id="app">
        <div class="header">
            <a href="index.html">Logout</a>
            <h2>Home</h2>
        </div>
        <div id="content">
            <div id="dataEntry">
                <h2>Data Entry</h2>
                <input type="text" placeholder="Tank Number">
                <input type="text" placeholder="Tank Status">
                <input type="text" placeholder="Specific Gravity">
                <div class="inline">
                    <input type="text" placeholder="pH">
                    <input type="text" placeholder="ABV">
                    <input type="text" placeholder="Temp">
                </div>
                <input type="text" placeholder="Volume">
                <input type="text" placeholder="Generation">
                <input type="datetime-local" placeholder="Time Measured">
                <input type="text" placeholder="Brand ID">
                <input type="text" placeholder="Batch Number">
                <input type="text" placeholder="Action Needed">
                <button>Submit</button>
            </div>
            <div id="tankInfo">

            </div>
        </div>
    </div>
</body>
</html>
